# Análise de Ocorrências Aeronáuticas no Brasil, 2010-2020
Dados abertos ao público disponíveis neste [link](https://dados.gov.br/dataset/ocorrencias-aeronauticas-da-aviacao-civil-brasileira)

Os dados seguem a seguinte representação, que relaciona a tabela dos incidentes com os códigos padronizados de Tipo de Ocorrência, Modelo de Aeronave, Fator Contribuinte e Recomendação.

<center>
    <img src='http://sistema.cenipa.aer.mil.br/cenipa/media/opendata/modelo_dados.png' style='max-width: 80%; height: auto;'></center>

## Configurção do ambiente

In [3]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
pio.templates.default = 'plotly_dark'

## Importar e selecionar os dados a serem trabalhados

In [13]:
df = pd.read_csv('ocorrencia_2010_2020.csv', sep=';', parse_dates=['ocorrencia_dia'])

In [14]:
df = df[['codigo_ocorrencia','codigo_ocorrencia2','ocorrencia_classificacao','ocorrencia_cidade','ocorrencia_uf',
        'ocorrencia_aerodromo', 'ocorrencia_dia', 'ocorrencia_hora','total_recomendacoes']]
df.rename({'ocorrencia_classificacao':'classificacao','ocorrencia_cidade':'cidade','ocorrencia_uf':'uf',
        'ocorrencia_aerodromo':'aerodromo', 'ocorrencia_dia':'dia', 'ocorrencia_hora':'hora'},axis=1, inplace=True)

In [15]:
df

,codigo_ocorrencia,codigo_ocorrencia2,classificacao,cidade,uf,aerodromo,dia,hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-03-01,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-03-01,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-03-01,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-04-01,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-05-01,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5752 entries, 0 to 5751
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   codigo_ocorrencia    5752 non-null   int64
 1   codigo_ocorrencia2   5752 non-null   int64
 2   classificacao        5752 non-null   object
 3   cidade               5752 non-null   object
 4   uf                   5752 non-null   object
 5   aerodromo            5752 non-null   object
 6   dia                  5752 non-null   datetime64[ns]
 7   hora                 5751 non-null   object
 8   total_recomendacoes  5752 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 404.6+ KB