In [1]:
import sqlite3
import pandas as pd


connect_dw_imoveis = sqlite3.connect("../data/imoveis_dw.db")
data = pd.read_sql_query(r"""
    SELECT * FROM IMOVEIS
    """, 
    connect_dw_imoveis
    )

In [4]:
data.head()

,cidade,estado,area,num_quartos,num_banheiros,garagem,num_andares,aceita_animais,mobilia,valor_aluguel,valor_condominio,valor_iptu,valor_seguro_incendio
0,São Paulo,SP,70,2,1,1,7,1,1,3300,2065,211,42
1,São Paulo,SP,320,4,4,0,20,1,0,4960,1200,1750,63
2,Porto Alegre,RS,80,1,1,1,6,1,0,2800,1000,0,41
3,Porto Alegre,RS,51,2,1,0,2,1,0,1112,270,22,17
4,São Paulo,SP,25,1,1,0,1,0,0,800,0,25,11

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cidade                 10692 non-null  object
 1   estado                 10692 non-null  object
 2   area                   10692 non-null  int64
 3   num_quartos            10692 non-null  int64
 4   num_banheiros          10692 non-null  int64
 5   garagem                10692 non-null  int64
 6   num_andares            10692 non-null  int64
 7   aceita_animais         10692 non-null  int64
 8   mobilia                10692 non-null  int64
 9   valor_aluguel          10692 non-null  int64
 10  valor_condominio       10692 non-null  int64
 11  valor_iptu             10692 non-null  int64
 12  valor_seguro_incendio  10692 non-null  int64
dtypes: int64(11), object(2)
memory usage: 1.1+ MB

In [2]:
from pycaret.regression import *

Desta vez será usado o *encoder* do próprio pycaret para tratar os dados categóricos. Assim, os dados de tipo objeto serão passados diretamente para o setup, sem tratamento prévio.

In [3]:
numeric_features = ['num_quartos', 'num_banheiros', 'garagem', 'num_andares', 'aceita_animais', 'mobilia']

s = setup(data,
         target='valor_aluguel',
         session_id=4447,
         numeric_features=numeric_features,
         log_experiment=True,
         experiment_name='exp_datapipe')

In [4]:
best = compare_models(fold=5)

In [5]:
catboost = create_model('catboost', fold=5)

In [8]:
tuned_cat = tune_model(catboost, fold=5)

Finalizar e armazenar modelo

In [6]:
final_catboost = finalize_model(catboost)

In [8]:
save_model(final_catboost, '../model/modelo_final_cat')

Transformation Pipeline and Model Succesfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=['num_quartos',
                                                           'num_banheiros',
                                                           'garagem',
                                                           'num_andares',
                                                           'aceita_animais',
                                                           'mobilia'],
                                       target='valor_aluguel',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy=...
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='valor_aluguel')),
                 ('fix_perfect', Remove_100(target='valor_aluguel')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  <catboost.core.CatBoostRegressor object at 0x7f4311b4dbe0>]],
          verbose=False),
 '../model/modelo_final_cat.pkl')

### Fase de Testes

In [14]:
model_test = load_model('../model/modelo_final_cat')

Transformation Pipeline and Model Successfully Loaded

In [15]:
data_test = data.drop(['valor_aluguel'], axis=1)

In [16]:
data_test.head()

,cidade,estado,area,num_quartos,num_banheiros,garagem,num_andares,aceita_animais,mobilia,valor_condominio,valor_iptu,valor_seguro_incendio
0,São Paulo,SP,70,2,1,1,7,1,1,2065,211,42
1,São Paulo,SP,320,4,4,0,20,1,0,1200,1750,63
2,Porto Alegre,RS,80,1,1,1,6,1,0,1000,0,41
3,Porto Alegre,RS,51,2,1,0,2,1,0,270,22,17
4,São Paulo,SP,25,1,1,0,1,0,0,0,25,11

In [17]:
predict_model(model_test, data=data_test)

,cidade,estado,area,num_quartos,num_banheiros,garagem,num_andares,aceita_animais,mobilia,valor_condominio,valor_iptu,valor_seguro_incendio,Label
0,São Paulo,SP,70,2,1,1,7,1,1,2065,211,42,3292.475724
1,São Paulo,SP,320,4,4,0,20,1,0,1200,1750,63,5101.174913
2,Porto Alegre,RS,80,1,1,1,6,1,0,1000,0,41,2851.307466
3,Porto Alegre,RS,51,2,1,0,2,1,0,270,22,17,1121.215809
4,São Paulo,SP,25,1,1,0,1,0,0,0,25,11,776.024953
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,Porto Alegre,RS,63,2,1,1,5,0,1,402,24,22,1477.813171
10688,São Paulo,SP,285,4,4,4,17,1,0,3100,973,191,15008.282093
10689,Rio De Janeiro,RJ,70,3,3,0,8,0,1,980,332,78,6014.669890
10690,Rio De Janeiro,RJ,120,2,2,2,8,1,1,1585,279,155,12021.530043
10691,São Paulo,SP,80,2,1,0,1,1,0,0,165,22,1462.956331